<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.common.dictionary.dao.DictionaryVOMapper" >
  <resultMap id="BaseResultMap" type="com.common.dictionary.domain.DictionaryVO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="typename" property="typename" jdbcType="VARCHAR" />
    <result column="typecode" property="typecode" jdbcType="VARCHAR" />
    <result column="datakey" property="datakey" jdbcType="VARCHAR" />
    <result column="datavalue" property="datavalue" jdbcType="VARCHAR" />
    <result column="orders" property="orders" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="lasttime" property="lasttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, typename, typecode, datakey, datavalue, orders, ctime, lasttime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.common.dictionary.domain.DictionaryVOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from com_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from com_dictionary
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from com_dictionary
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.common.dictionary.domain.DictionaryVOExample" >
    delete from com_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.common.dictionary.domain.DictionaryVO" useGeneratedKeys="true" keyProperty="id" >
    insert into com_dictionary (id, typename, typecode, 
      datakey, datavalue, orders, 
      ctime, lasttime)
    values (#{id,jdbcType=VARCHAR}, #{typename,jdbcType=VARCHAR}, #{typecode,jdbcType=VARCHAR}, 
      #{datakey,jdbcType=VARCHAR}, #{datavalue,jdbcType=VARCHAR}, #{orders,jdbcType=VARCHAR}, 
      #{ctime,jdbcType=TIMESTAMP}, #{lasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.common.dictionary.domain.DictionaryVO" useGeneratedKeys="true" keyProperty="id" >
    insert into com_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="typename != null" >
        typename,
      </if>
      <if test="typecode != null" >
        typecode,
      </if>
      <if test="datakey != null" >
        datakey,
      </if>
      <if test="datavalue != null" >
        datavalue,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="lasttime != null" >
        lasttime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="typecode != null" >
        #{typecode,jdbcType=VARCHAR},
      </if>
      <if test="datakey != null" >
        #{datakey,jdbcType=VARCHAR},
      </if>
      <if test="datavalue != null" >
        #{datavalue,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="lasttime != null" >
        #{lasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.common.dictionary.domain.DictionaryVOExample" resultType="java.lang.Integer" >
    select count(*) from com_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update com_dictionary
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.typename != null" >
        typename = #{record.typename,jdbcType=VARCHAR},
      </if>
      <if test="record.typecode != null" >
        typecode = #{record.typecode,jdbcType=VARCHAR},
      </if>
      <if test="record.datakey != null" >
        datakey = #{record.datakey,jdbcType=VARCHAR},
      </if>
      <if test="record.datavalue != null" >
        datavalue = #{record.datavalue,jdbcType=VARCHAR},
      </if>
      <if test="record.orders != null" >
        orders = #{record.orders,jdbcType=VARCHAR},
      </if>
      <if test="record.ctime != null" >
        ctime = #{record.ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lasttime != null" >
        lasttime = #{record.lasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update com_dictionary
    set id = #{record.id,jdbcType=VARCHAR},
      typename = #{record.typename,jdbcType=VARCHAR},
      typecode = #{record.typecode,jdbcType=VARCHAR},
      datakey = #{record.datakey,jdbcType=VARCHAR},
      datavalue = #{record.datavalue,jdbcType=VARCHAR},
      orders = #{record.orders,jdbcType=VARCHAR},
      ctime = #{record.ctime,jdbcType=TIMESTAMP},
      lasttime = #{record.lasttime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.common.dictionary.domain.DictionaryVO" >
    update com_dictionary
    <set >
      <if test="typename != null" >
        typename = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="typecode != null" >
        typecode = #{typecode,jdbcType=VARCHAR},
      </if>
      <if test="datakey != null" >
        datakey = #{datakey,jdbcType=VARCHAR},
      </if>
      <if test="datavalue != null" >
        datavalue = #{datavalue,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="lasttime != null" >
        lasttime = #{lasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.common.dictionary.domain.DictionaryVO" >
    update com_dictionary
    set typename = #{typename,jdbcType=VARCHAR},
      typecode = #{typecode,jdbcType=VARCHAR},
      datakey = #{datakey,jdbcType=VARCHAR},
      datavalue = #{datavalue,jdbcType=VARCHAR},
      orders = #{orders,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      lasttime = #{lasttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>